<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <style>
    #footer{
      height: 100px;
    }
    #footer{
      background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
      color: white;
    }
    #footer .cr{
      padding-top: 15px;
    }
    #footer p{
      padding-left: 730px;
    }
    #footer .cr{
      padding-left: 650px;
    }
    #footer .ver{
      padding-top: 5px;
    }
    #footer .tel{
      padding-top: 5px;
    }
  </style>
</head>
<body>

<div id="footer"><p class="cr">copyright @XXX物流管理系统</p>
  <p class="ver">Version v1.0</p>
  <p class="tel">tel 88888888</p>
</div>

</body>
</html>