<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>当前订单记录</title>
</head>
<body>
<table style="border-collapse: collapse;" border="1">
  <thead>
  <h2>当前订单记录</h2>
  <tr>
    <th>发货人</th>
    <th>发货人联系电话</th>
    <th>物流信息</th>
    <th>收件人</th>
    <th>收件人联系电话</th>
    <th>物资名称</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="orders : ${orders}">
    <td th:text="${orders.shipments}"></td>
    <td th:text="${orders.shipnumber}"></td>
    <td th:text="${orders.path}"></td>
    <td th:text="${orders.consignee}"></td>
    <td th:text="${orders.consnumber}"></td>
    <td th:text="${orders.itemname}"></td>
  </tr>
  </tbody>
</table>
</body>
</html>