<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>快递员列表</title>
</head>
<body>
<h1>XXX物流仓库信息-快递员信息</h1>
<form th:action="@{/deleteCouriersAction}" method="post">
  <table style="border-collapse: collapse;" border="1">
    <thead>
    <h2>快递员信息列表</h2>
    <tr>
      <th>姓名</th>
      <th>性别</th>
      <th>年龄</th>
      <th>联系电话</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="couriers : ${couriers}">
      <td th:text="${couriers.name}"></td>
      <td th:text="${couriers.sex}"></td>
      <td th:text="${couriers.age}"></td>
      <td th:text="${couriers.phonenumber}"></td>
    </tr>
    </tbody>
  </table>
  <p>请输入要开除的快递员的名称：</p>
  <input id="name" name="name" type="text">
  <input type="submit" value="开除" onclick="showDeleteMessage()">
</form>

<form th:action="@{/addCourierAction}" method="post">
  <h1>添加快递员</h1>
  <p>姓名:<input  name="name" type="text"></p>
  <p>性别:<input name="sex" type="text"></p>
  <p>年龄:<input  name="age" type="text"></p>
  <p>联系电话:<input  name="phonenumber" type="text"></p>
  <input type="submit" class="button" value="添加" onclick="showAddMessage()">
</form>
<form th:action="@{/updateCourierInfo}">
  <p>更新快递员信息</p>
  <p>请输入要更新信息的快递员的名字：</p>
  <p>姓名:<input  name="name" type="text"></p>
  <p>请输入新的信息：</p>
  <p>姓名:<input  name="newname" type="text"></p>
  <p>性别:<input name="sex" type="text"></p>
  <p>年龄:<input  name="age" type="text"></p>
  <p>联系电话:<input  name="phonenumber" type="text"></p>
  <input type="submit" class="button" value="更新" onclick="updateAddMessage()">
</form>
</body>
<script>
  function showDeleteMessage() {
    alert("开除成功");
  }
</script>
<script>
  function showAddMessage() {
    alert("添加成功");
  }
</script>
<script>
  function updateAddMessage() {
    alert("更新成功");
  }
</script>
</html>